<template>
  <div class="wrapper">
    <div v-bind:class="ringClasses">
      <svg width="518" height="518" viewBox="0 0 518 518">
        <circle stroke-width="9px" x="0" y="y" cx="259" cy="259" r="254" />
      </svg>
    </div>

    <div class="timer">
      <div class="time">
        <div class="minutes">
          <input
            type="text"
            v-model="minutesStr"
            :disabled="!isEditing"
            @keypress="isNumber($event)"
          />
        </div>
        <div class="colon">:</div>
        <div class="seconds">
          <input
            type="text"
            v-model="secondsStr"
            :disabled="!isEditing"
            min="0"
            max="60"
          />
        </div>
      </div>
      <button class="start" v-on:click="toggleStartStop">
        {{ startStopText }}
      </button>
      <button class="settings" v-on:click="toggleEdit">
        <img src="../assets/images/gear.svg" alt="Settings" />
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-class-component";

export default class Timer extends Vue {
  minutes: number;
  seconds: number;
  isEditing: boolean;
  isTicking: boolean;
  timerDone: boolean;
  currentInterval?: number;
  startStopText: string;

  public constructor() {
    super({});
    this.minutes = 0;
    this.seconds = 10;
    this.isEditing = false;
    this.isTicking = false;
    this.timerDone = false;
    this.startStopText = "start";
  }
  get minutesStr(): string {
    return this.minutes !== null && this.minutes <= 9
      ? "0" + this.minutes.toString()
      : this.minutes.toString();
  }

  set minutesStr(newVal: string) {
    console.log(isNaN(Number.parseInt(newVal)));
    if (newVal && !isNaN(Number.parseInt(newVal))) {
      this.minutes = Number.parseInt(newVal);
    }
  }

  get secondsStr(): string {
    return this.seconds !== null && this.seconds <= 9
      ? "0" + this.seconds.toString()
      : this.seconds.toString();
  }

  set secondsStr(newVal: string) {
    if (newVal && !isNaN(Number.parseInt(newVal))) {
      let parsedNumber = Number.parseInt(newVal);
      parsedNumber = parsedNumber > 59 ? 59 : parsedNumber;
      this.seconds = parsedNumber;
    }
  }

  get ringClasses(): Record<string, unknown> {
    return {
      ring: true,
      ending: this.timerDone,
    };
  }
  toggleStartStop(): void {
    if (this.isTicking) {
      this.pauseTimer();
    } else {
      this.startTimer();
    }
  }

  toggleEdit(): void {
    if (!this.isEditing) {
      this.pauseTimer();
      this.isTicking = false;
    }
    this.isEditing = !this.isEditing;
  }

  pauseTimer(): void {
    clearInterval(this.currentInterval);
    this.currentInterval = undefined;
    this.startStopText = "start";
    this.isTicking = false;
  }

  startTimer(): void {
    if (this.minutes === 0 && this.seconds === 0) {
      alert("Please set a time.");
      return;
    }
    this.timerDone = false;
    this.currentInterval = setInterval(() => {
      if (this.seconds === 0) {
        this.seconds = 59;
        this.minutes -= 1;
      } else {
        this.seconds -= 1;
      }
      if (this.minutes === 0 && this.seconds === 0) {
        this.timerDone = true;
        this.pauseTimer();
        alert("Times up!");
      }
    }, 1000);
    this.startStopText = "stop";
    this.isTicking = true;
    this.isEditing = false;
  }
}
</script>
<style scoped>
/* outer glow */
.wrapper {
  align-items: center;
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  display: flex;
  height: 518px;
  justify-content: center;
  position: relative;
  width: 518px;
}

.ring {
  position: absolute;
  left: 0;
  stroke: #09a65a;
  top: 0;
  z-index: 1;
}

.ring.ending circle {
  stroke: #900a0a;
}

/* inner circle */
.timer {
  align-items: center;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  position: relative;
  width: 500px;
  z-index: 2;
}

/* actual time */
.time {
  display: flex;
  font-family: "bebas";
  font-size: 196px;
  margin: 30px auto;
  position: relative;
  top: 30px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px dashed white;
  background: none;
  color: white;
  font-family: "bebas";
  font-size: 196px;
  height: 170px;
  width: 150px;
  text-align: center;
  outline: none;
}

input[type="text"]:disabled {
  border-bottom: none;
}

.start {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start:hover {
  opacity: 1;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

.settings:hover {
  opacity: 1;
}
</style>
